* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo {
  border: 1px solid black;
  padding: 5px 10px;
  margin: 15px;
}

.todo-enter-active {
  animation: fade-in 0.5s forwards;
}

.todo-exit-active {
  animation: fade-out 0.5s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(150px);
  }
}
