:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

/*
Центрування тексту

Вирівнювання тексту по центру блока за допомогою text-center

Markup:
<p class="text-center">Центрований текст</p>

Weight: 1

Styleguide Utilities.text-center
*/
.text-center {
  text-align: center !important;
}

/*
Вирівнювання по лівому краю

Для вирівнювання контенту по лівому краю використовуйте властивість float-left

Weight: 3

Styleguide Utilities.float-left
*/
.float-left {
  float: left;
}

/*
Клас clearfix

Призначити елементу клас clearfix для скидання обтікання плаваючого контента

Markup:
<div class="clearfix">
  <span class="float-left">floated</span>
</div>

Weight: 2

Styleguide Utilities.clearfix
*/
.clearfix::before,
.clearfix::after {
  display: table;
  content: ' ';
}

.clearfix::after {
  clear: both;
}
