.nav-container {
  background-color: var(--medium-green);
}

.nav-container__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0.625em 0;
}

.home-link {
  color: var(--text-color);
  font-size: 1.6rem;
  font-family: 'Kurale', serif;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.fonts-failed .home-link {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.top-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.top-nav > li + li {
  margin-left: 0.625em;
}

.top-nav a {
  display: block;
  font-size: 0.8rem;
  padding: 0.3rem 1.25rem;
  color: var(--white);
  background-color: var(--brand-green);
  text-decoration: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.top-nav a:hover {
  color: var(--dark-green);
}

.top-nav__featured > a {
  color: var(--brand-green);
  background-color: var(--white);
}

.top-nav__featured > a:hover {
  color: var(--medium-green);
  background-color: var(--white);
}
