.hero {
  background: url(../img/collaborations.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 2.5rem;
}
.hero__inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 5.56em 0 12.5em;
  text-align: right;
}

.hero h2 {
  font-size: 1.95rem;
  text-shadow: 0.1em 0.1em 0.3em rgb(199, 199, 199);
  margin-bottom: 0.625rem;
}

.button {
  display: inline-block;
  padding: 0.4em 1em;
  color: var(--brand-green);
  border-radius: 0.2em;
  text-decoration: none;
  font-size: 1rem;
}

.button:hover {
  background-color: var(--dark-green);
  color: var(--white);
}

.button--cta {
  padding: 0.6em 1em;
  background-color: var(--brand-green);
  color: var(--white);
  border: none;
}
