.media {
  padding: 1.5em;
  background-color: #eee;
  border-radius: 0.5em;
}

.media::after {
  content: '';
  display: block;
  clear: both;
}

.media__image {
  width: 100px;
  float: left;
  margin-right: 1.5em;
}

.media__body {
  overflow: auto;
  margin-top: 0;
}

.media__body > h4 {
  margin-top: 0;
}

.media--right > .media__image {
  float: right;
}
